<h1>Edit Game</h1>

<%= simple_form_for @game, :html => { :multipart => true } do |f| %>
  <%= f.select :filter_id, @filters %>
  <%= f.input :name, label: "Game Name" %>
  <%= f.input :description %>
  <%= f.input :developer %>
  <%= f.button :submit %>
<% end %>
