<%= link_to "Back", root_path %>
<br><br>
<div class="row">
<div class="col-md-4">
    <%= image_tag @game.game_img.url(:game_show) %>
</div>

<div class="col-md-8">
  <h2><%= @game.name %></h2>
  <h3><%= @game.developer %></h3>
  <h4>Average Rating</h4>
  <div class="average-review-rating" data-score=<%= @average_review %>></div>
  <span>According To <%= @game.reviews.count %> Reviews</span>
  <h4>Genre: <%= @game.filter.name %></h4>
  <p><%= @game.description %></p>
</div>
</div>

<div class="row">
  <hr>


  <div class="col-md-12">

    <!-- Reviews -->
  <h2>Reviews</h2>
    <%= render @game.reviews %>

    <div>
      <%= link_to "Add Review", new_game_review_path(@game) %>
    </div>

  </div>

</div>
<br>


<% if user_signed_in? %>

  <% if @game.user_id == current_user.id %>

    <%= link_to "Edit", edit_game_path(@game) %>
    <%= link_to "Delete", game_path(@game), method: :delete, data: { confirm: "Are You Sure?"} %>

  <% end %>

<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
